body {
    background-color: black;
    overflow-x: hidden;

    
}

main {

    padding: 0px;
}
.Competence {
    text-align: center;
    margin-left:35%;
    width: 600px;
}

.lecode {
    article {
        position: initial;
        text-align: start;
        width: 600px;
        margin: auto;
        padding: auto;
        font-size: large;
    }
}
.becode {
    article {
        text-align: start;
        width: 600px;
        height: 345px;
        font-size: large;
    }
}
footer{
    position: static;
    margin-left: 0.5pt;
    overflow-x: hidden;


}

@media screen and (max-width: 500px) {
    body {
        background-color: black;
        overflow-x: hidden;

    }
    .Competence {
        text-align: center;
        width: 120px;
    }

    .lecode article {
        text-align: start;
        width: 300px;
        margin: auto;
        padding: auto;
        font-size: large;
        position: initial;
            }
    }



